.categories {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px 2%;
}

.sidebar {
    position: fixed;
    top: 0;
    padding-top: 80px;
    background-color: #0f0f0f;
    width: 15%;
    height: 100vh;
    z-index: 5;
    transition: width 0.3s ease;
    overflow: hidden;
}

.small-sidebar {
    width: 5%;
}

.app-main {
    width: auto;
    display: block;
}
/* Completely hide sidebar for Video Page */
.sidebar-hidden {
    transform: translateX(-100%);
    width: 0;
    border: none;
    visibility: hidden;
}
/* Make it an overlay on Video Page when opened */
.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px; /* Fixed width for overlay */
    z-index: 100; /* Ensure it's above the video player */
    background-color: #0f0f0f;
    box-shadow: 10px 0 15px rgba(0,0,0,0.5);
    visibility: visible;
    transform: translateX(0);
}

/* Smooth transition for sliding */
.sidebar {
    transition: transform 0.3s ease, width 0.3s ease, visibility 0.3s;
}

.sidebar-content {
    padding: 0;
    margin: 0;
}

.cat-link, .user-link {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
}

.cat-link .cat-name, .user-link p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.795rem;
    line-height: 1rem;
    font-weight: 400;
    color: #f1f1f1;
    margin-left: 15px;
}
.sidebar h3 {
    width: calc(100% - 10%);
    padding: 0 12px 4px 12px;
}
.sidebar hr {
    border: 0;
    height: 1px;
    background: #535353;
    width: 100%;
    margin-bottom: 25px;
}

.subscriptions p {
    margin-top: 10px;
}

.subscriptions img {
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.small-sidebar .subscriptions {
    visibility: hidden;
}

.small-sidebar .cat-link{
    padding: 10px;
    margin: 0 auto;
}

.small-sidebar .cat-link .cat-icon{
    margin-right: 0;
}

.small-sidebar .cat-link .cat-name, .small-sidebar .user-link p {
    visibility: hidden;
    display: none;
}

.small-sidebar h3 {
    display: none;
}
